.two__cols{
    margin-top: -120px;
    position: relative;
}
.box{
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 30px;
    margin-bottom: 2rem;
    @media(min-width:$tablet){
        max-width: 50%;
        flex: 0 0 50%;
    }
    .box__wrapper{
        border: 1px solid #dedede;
        .box__top{
            padding: 20px;
            background: $lightGray;
            height: 250px;
            @media(min-width:$tablet){
                padding: 50px;
                height: 350px;
            }
            .box__top-conent{
                display: flex;
                flex-wrap: wrap;
                height: 100%;
                h2{
                    margin-bottom: 0.25rem;
                    line-height: 1;
                    font-size: 1.0625em;
                    font-weight: 600;
                    color: $blackColor;
                    @media(min-width:$tablet){
                        font-size: 1.375em;
                    }
                }
                p{
                    margin: 0;
                    font-size: 0.875em;
                    @media(min-width:$tablet){
                        font-size: 1em;
                    }
                }
                .box__top-link{
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    @media(min-width:$tablet){
                        align-items: flex-end;
                    }
                    a{
                        &::after{
                            top: 2px;
                        }
                    }
                }
            }
        }
        .box__bottom{
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            @media(min-width:$tablet){
                padding: 50px;
            }
            p{
                font-size: 0.9375em;
                max-width: 300px;
                margin-bottom: 3rem;
            }
        }
    }
}

