.swiper-pagination,
.container-fluid,
.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
}

@media (min-width: 768px) {
    
	.container {
		max-width: 1440px;
    }
    .swiper-pagination,
    .container.sm{
        max-width: 1200px;
    }
    .container.xs{
        max-width: 900px;
    }
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -30px;
	margin-left: -30px;
}

.col{
    width: 100%;
    flex: 0 0 100%;
    padding: 0 30px;
}

@media (min-width: $desktop) {
 
    .col-20{
        max-width: 20%;
        flex: 0 0 20%;
    }

    .col-33{
        max-width: 33.3333333%;
        flex: 0 0 33.3333333%;
    }
    
    .col-35{
        max-width: 35%;
        flex: 0 0 35%;
    }

    .col-40{
        max-width: 40%;
        flex: 0 0 40%;
        position: relative;
    }

    .col-45{
        max-width: 45%;
        flex: 0 0 45%;
        position: relative;
    }

    .col-50{
        max-width: 50%;
        flex: 0 0 50%;
        position: relative;
        padding: 0;
    }

    .col-60{
        max-width: 60%;
        flex: 0 0 60%;
        position: relative;
    }
}